.idea
*.iml
*.iws
*.ipr
.gradle
out
**/target
**/*.log
build
classes
/lineup*.json
/report
/report/**
/cli/report
.vscode
.project
.classpath
.settings
bin
/lambda/dockerstuff.sh
/lambda/src/main/resources/settings.properties
.DS_Store
