.idea
*.iml
*.iws
*.ipr
.gradle
out
**/target
**/*.log
build
node_modules
src/main/resources/static/fonts
src/main/resources/static/globalcss
src/main/resources/static/globalscss
src/main/resources/static/globaljs
src/main/resources/static/img
src/main/resources/views/preview/globalcss.ftl
src/main/resources/views/preview/globaljs.ftl
src/main/resources/static/css
