.idea
*.iml
*.iws
*.ipr
.gradle
out
**/target
**/*.log
build
classes
/lineup*.json
/lineup*.yaml
/report
/report/**
/cli/report
/cli-lambda/report
.vscode
.project
.classpath
.settings
.factorypath
bin
/lambda/dockerstuff.sh
/lambda/src/main/resources/settings.properties
.DS_Store
/web/unknown
unknown
/web-lambda/unknown

# npm
node_modules/
npm-debug.log*
.npm
