<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head  :: head" />

<body>

<div th:replace="fragments/navigation  :: navigation" />


<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Job Overview</h3>
        </div>
        <div class="panel-body">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Urls</th>
                    <th>Status</th>
                    <th>Start</th>
                    <th>Duration</th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="report : ${reportList}">
                    <td><div th:text="${report.id}">42</div><div th:if="${report.name != null}" th:text="'(' + ${report.name} + ')'"></div></td>
                    <td><pre style="white-space: pre-line;" th:utext="${#strings.listJoin(report.urls, '<br/>')}">https://www.verylongurl.com/some/cool/path<br />https://www.anotherurl.com/bla/blub/bluuub/loooooooooooooooooong/loooooooooooooooooonger</pre></td>
                    <td th:text="${report.state}">OK</td>
                    <td th:text="${report.startTime}">2018-09-09T20:00:00.000Z</td>
                    <td th:text="${report.duration}">10:20:30</td>
                    <td><a th:if="${report.reportUrl != null}" th:href="${report.reportUrl}" target="_blank" class="btn btn-primary" role="button">Report</a></td>
                    <td><a th:if="${report.logUrl != null}" th:href="${report.logUrl}" target="_blank"class="btn btn-info" role="button">Log</a></td>
                </tr>
                <tr th:if="${#lists.isEmpty(reportList)}"><td colspan="7">No runs since start.</td></tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<span th:replace="fragments/footer :: footer" />

</body>
</html>